<div class="hero-page">
  <div class="hero-text">
    <h1>Climb High</h1>
    <a href="/login" class="ghost-button">Log In</a>
    <h5>Don't have an account yet?<br><%= link_to "Sign Up!", new_user_path %></h5>
  </div>
</div>
